body {
  overflow-x: hidden !important; /* Évite le scroll horizontal */
}

/* Écrans de bureau (≥ 1200px) */
@media (min-width: 1200px) {
  body {
    font-size: 18px !important;
  }
}

/* Tablettes (768px à 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 16px !important;
    padding: 10px 20px !important; /* Ajoute du padding horizontal */
  }
}

/* Smartphones (480px à 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 14px !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }

  h1.title.is-1 {
    font-size: 2rem !important; /* Réduit le titre sur mobile */
  }
}

/* Très petits écrans (< 480px) */
@media (max-width: 479px) {
  body {
    font-size: 12px !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }

  h1.title.is-1 {
    font-size: 1.75rem !important;
  }
}

/* Empêche l'impression de la page */
@media print {
  body {
    display: none !important;
  }
}

.home, .about, .service, .contact {
  background-color: #f0faff !important;
  color: #2d2d2d !important;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

a.navbar-item.is-active,
a.navbar-item:hover {
  background-color: #f0faff!important;
  color: #0057a3 !important;
}

.navbar {
  padding: 0 .75rem !important;
  border-bottom: 1px solid #00aaff !important;
}

h1.title {
  color: #004080 !important;
  text-transform: uppercase !important;
  border-bottom: 2px solid #0057a3;
}

.button.is-link, .button.is-info {
  background-color: #0057a3 !important;
  border-color: #004080 !important;
  transition: 0.3s ease-in-out;
}

.button.is-link:hover, .button.is-info:hover {
  background-color: #004080 !important;
}

.about p:not(:first-child) {
  border-right: 2px solid #4b0082;
  border-bottom: 2px solid #4b0082;
}

.about .box {
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  border-top: 3px solid #004080;
  border-right: 5px solid #004080;
  border-bottom: 5px solid #004080;
  border-left: 3px solid #004080;
  transition: transform 0.2s;
}

.service p {
  border-right: 2px solid #004080;
  border-bottom: 2px solid #004080;
}

.service .box {
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  border-top: 3px solid #00e0c6;
  border-left: 5px solid #00e0c6;
  transition: transform 0.2s;
}

.box:hover {
  transform: translateY(-5px);
}
